---
import { Tooltip } from 'astro-bootstrap';
---

<p class="muted">
  Placeholder text to demonstrate some <Tooltip title="Default tooltip">
    <a href="#">inline links</a>
  </Tooltip> with tooltips. This is now just filler, no killer. Content placed here
  just to mimic the presence of <Tooltip title="Another tooltip">
    <a href="#">real text</a>
  </Tooltip>. And all that just to give you an idea of how tooltips would look
  when used in real-world situations. So hopefully you've now seen how <Tooltip
    title="Another one here too"
  >
    <a href="#">these tooltips on links</a>
  </Tooltip> can work in practice, once you use them on your own site or project.
</p>
