---
import { Navbar } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';
// demonstration data
const siteTitle = 'Astro site'; // pull this in from a config file
const items: NavbarItemType[] = [
  // pull this in from a config file
  { text: 'Home', href: '#' },
  { text: 'About', href: '#' },
  {
    text: 'Dropdown',
    subItems: [
      { text: 'First child', href: '#' },
      { divider: true },
      { text: 'Second child', href: '#' },
    ],
  },
];

const id = 'navbarDemo';
---

<Navbar class="navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{siteTitle}</a>
    <Navbar.Toggler controls={id} />
    <Navbar.Collapse {id}>
      <Navbar.Items {items} class="me-auto mb-2 mb-lg-0" />
    </Navbar.Collapse>
  </div>
</Navbar>
