---
import { Navbar } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';
// demonstration data
const siteTitle = 'Astro site'; // pull this in from a config file
const items: NavbarItemType[] = [
  // pull this in from a config file
  { title: 'Home', href: '#' },
  { title: 'About', href: '#' },
  {
    title: 'Dropdown',
    subItems: [
      { title: 'First child', href: '#' },
      { divider: true },
      { title: 'Second child', href: '#' },
    ],
  },
];

const id = 'navbarDemo'
---

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{siteTitle}</a>
    <Navbar.Toggler controls={id} />
    <Navbar.Collapse id={id}>
      <Navbar.Items items={items} class="me-auto mb-2 mb-lg-0" />
    </Navbar.Collapse>
  </div>
</nav>
