---
// Template example only
import { ActiveLink } from 'astro-bootstrap';
const navs = [
  { href: '/', text: 'Home' },
  { href: '#', text: 'Link' },
  { href: '/components/navs', text: 'Active' },
  { href: '/hidden', text: 'Disabled', disabled: true },
];
---

<ul class="nav">
  {
    navs.map((nav) => (
      <li class="nav-item">
        <ActiveLink href={nav.href} class="nav-link" disabled={nav.disabled}>
          {nav.text}
        </ActiveLink>
      </li>
    ))
  }
</ul>
