---
import Card from './Card.astro';
import type { Props as CardType } from './Card.astro';
const cards: CardType[] = [
  {
    img: '/img/placeholder1.jpg',
    alt: 'Product image',
    title: 'Product 1',
    text: 'Body text for product',
    href: 'http://google.com',
    linkText: 'Read more',
  },
  {
    img: '/img/placeholder1.jpg',
    alt: 'Product image',
    title: 'Product 2',
    text: 'Body text for product',
    href: 'http://google.com',
    linkText: 'Read more',
  },
  {
    img: '/img/placeholder1.jpg',
    alt: 'Product image',
    title: 'Product 3',
    text: 'Body text for product',
    href: 'http://google.com',
    linkText: 'Read more',
  },
];
---

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    {
      cards.map((card) => (
        <div class="col">
          <Card {...card} />
        </div>
      ))
    }
  </div>
</div>
