---
const { title } = Astro.props.frontmatter || Astro.props;
export interface Props {
  title: string;
}
import BaseLayout from './BaseLayout.astro';

import SideNav from '../components/SideNav.astro';
---

<BaseLayout {title}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-md-3 col-12">
        <div class="side-nav">
          <aside>
            <SideNav />
          </aside>
        </div>
      </div>
      <div class="col-xl-10 col-md-9 col-12 p-5">
        <main>
          <h1>{title}</h1>
          <slot />
        </main>
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .side-nav {
    height: 100% !important;
    overflow: auto;
    margin-right: -15px;
    padding-right: calc(15px + 1rem);
    flex-wrap: nowrap;
  }
</style>
