---
import Component from '@layouts/Component.astro';
---

<Component title="Components">
  <p>Select a component from the list on the left</p>
  <p>
    Components with <sup class="astro-component text-danger">.astro</sup> utilize
    native astro components
  </p>
</Component>
