---
import Component from '@layouts/Component.astro';
---

<Component title="Components">
  <p>Select a component from the list on the left</p>
  <p>
    Components with <sup class="astro-component text-astro">.astro</sup> utilize
    native astro components
  </p>
  <p>
    Components with <sup class="astro-component text-warning">JS</sup> utilize an
    astro implementation of a bootstrap JS plugin.
  </p>
  <p>
    Components with <sup class="astro-component text-success">template</sup> provide
    examples on how to make your code more dry, including techniques such as using
    astro's JSX' like syntax, and creating your own astro components.
  </p>
</Component>
