---
import {InlineCode, Marked } from 'astro-bootstrap';
const { props } = Astro.props;

export interface Props {
  props: ApiProps[];
}

export interface ApiProps {
  name: string;
  type: string;
  default?: string;
  description?: string;
  required?: boolean;
}
---

<div class="overflow-auto mt-4 mb-5">
  <table class="mb-0 table table-striped table-bordered">
    <thead
      ><tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr
      ></thead
    >
    <tbody>
      {
        props.map((prop) => (
          <tr class="prop-table-row">
            <td>
              {prop.name}{' '}
              {prop.required && <sup class="text-danger">required</sup>}
            </td>
            <td>{prop.type}</td>
            <td>
              {prop.default && (
                <InlineCode code={prop.default} />
              )}
            </td>
            <td>
              <Marked inline>{prop.description}</Marked>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
