---
---

<footer >
  <div class="container-fluid fs-6 my-4 text-center d-flex justify-content-center align-items-center">
    This Site is built with &nbsp; <a
      class="gradient-link fw-bold text-decoration-none text-astro "
      href={"https://astro.build"}
      target="_blank"
    >Astro</a> &nbsp; and powered by &nbsp;
    <a
      class="gradient-link fw-bold text-decoration-none"
      href={"https://www.netlify.com"}
      target="_blank"
    >
      Netlify</a>.
  </div>
</footer>

<style>
  /* footer {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
/* 
  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out; */
  }
</style>
