---
const {title, text} = Astro.props;
export interface Props {
  title: string;
  text: string;
}
---
<div class="card border-0" >
  <div class="card-body p-2 p-sm-0 p-md-2">
    <h2 class="card-title">{title}</h2>
    <p class="card-text">{text}.</p>
  </div>
</div>
