---
import { Navbar } from 'astro-bootstrap';
import { SITE_TITLE, MAIN_MENU } from '../config';
const navId = 'siteNav'


---

<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{SITE_TITLE}</a>
    <Navbar.Toggler controls={navId} />
    <Navbar.Collapse id={navId}>
      <Navbar.Items items={MAIN_MENU} class="me-auto mb-2 mb-lg-0" />
    </Navbar.Collapse>
  </div>
</nav>
<style>
  .navbar {
    height: 4rem;
  }
</style>
