---
const { slug } = Astro.props;
export interface Props {
  slug: string;
}
const response = await fetch('https://api.github.com/repos/twbs/bootstrap/releases/latest')
const data = await response.json();
const bsVer = data.tag_name
const regex = new RegExp(/[0-9]\.[0-9]+/);
const array = regex.exec(bsVer)
const ver = array[0];
---
<p>
  View the official docs{' '}
  <a
    href={`https://getbootstrap.com/docs/${ver}/components/${slug}/`}
    target="_blank"
    rel="noopener"
  >
    here
  </a>
</p>
