---
const { slug } = Astro.props;
export interface Props {
  slug: string;
}

let ver = '5.3'
// let data;
// try {
//  data = await fetch('https://api.github.com/repos/twbs/bootstrap/releases/latest').then(response =>  response.json())
// } catch (e) {
//   console.log('bs version fetch failed');
// }
// if (data) {
//   const bsVer = data.tag_name
//   const regex = new RegExp(/[0-9]\.[0-9]+/);
//   const array = regex.exec(bsVer)
//   console.log(array)
//   ver = '1.1'
// }

const url = `https://getbootstrap.com/docs/${ver}/${slug}/`

---
<p>
  View the official docs{' '}
  <a
    href={url}
    target="_blank"
    rel="noopener"
  >
    here
  </a>
</p>
