---
import SideNavSuffix from './SideNavSuffix.astro';
const { elements } = Astro.props;
// export interface Props {
//   elements:
// }
---

{
  elements.map((element) => {
    let suffix = {};
    if (element.frontmatter.variant === 'component') {
      suffix = { class: 'text-astro', text: '.astro' };
    } else if (element.frontmatter.variant === 'js') {
      suffix = { class: 'text-warning', text: 'JS' };
    } else if (element.frontmatter.variant === 'template') {
      suffix = { class: 'text-success', text: 'template' };
    }
    return (
      <li>
        <a href={element.url} class="text-decoration-none">
          {element.frontmatter.title}
          {suffix && <SideNavSuffix {...suffix} />}
        </a>
      </li>
    );
  })
}

