---
const { headings } = Astro.props;
import type { MarkdownHeading } from 'astro';
import type { TocItem } from '../util/generateToc';
export interface Props {
  headings: MarkdownHeading[];
}

import generateToc from '../util/generateToc';
import TocList from './TocList.astro';

const topHeading: MarkdownHeading = {
  depth: 2,
  slug: 'overview',
  text: 'Overview',
};
const toc: TocItem[] = generateToc(headings, topHeading);
---

<nav class="toc-wrapper py-2">
  <h4 class="h5">On this page</h4>
  <TocList headings={toc} />
</nav>
<script>
  import ScrollSpy from 'bootstrap/js/dist/scrollspy';
  // eslint-disable-next-line no-unused-vars
  const bsScrollSpy = new ScrollSpy(document.body, {
    target: '#js-toc',
  });
</script>
