---
const { heading } = Astro.props;
import TocItemLink from './TocItemLink.astro';
import type { TocItem } from '../util/generateToc';
const { depth, slug, text, children } = heading;
---

<li>
  <a
    class:list={[`header-link depth-${depth}`, 'text-decoration-none']}
    href={`#${slug}`}
  >
    {text}
  </a>
  {
    children.length > 0 ? (
      <ul class="toc-child toc list-unstyled">
        {children.map((heading: TocItem) => (
          <TocItemLink {heading} />
        ))}
      </ul>
    ) : null
  }
</li>
<style>
  .header-link.depth-3 {
    padding-inline-start: 1rem;
  }
  .header-link.depth-4 {
    padding-inline-start: 2rem;
  }
  .header-link.depth-5 {
    padding-inline-start: 3rem;
  }
  .active {
    background-color: red;
  }
</style>

