---
// [...page].astro in root of content folder
const { page } = Astro.props;
import BaseLayout from '@layouts/BaseLayout.astro';
import { Pagination } from 'astro-bootstrap';

export async function getStaticPaths({ paginate }) {
  const pages = await Astro.glob('../**/*.{md,mdx}'); // set glob to ''./**/*.{md,mdx}'
  return paginate(pages, { pageSize: 3 });
}
---

<BaseLayout title="Pagination test page">
  <h1>List of components (Pagination Test)</h1>
  <p>Page {page.currentPage}</p>
  <p>3 components per page.</p>
  <ul>
    {page.data.map(({ frontmatter }) => <li>{frontmatter.title}</li>)}
  </ul>
  <div class="d-flex justify-content-center">
    <Pagination {page} ariaLabel="Pagination" />
  </div>
</BaseLayout>
