---
import { Navbar } from 'astro-bootstrap';
import { SITE_TITLE, MAIN_MENU } from '../config';
// demonstration data
---

<nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{SITE_TITLE}</a>
    <Navbar.Toggler ariaControls="navbarSupportedContent" />
    <Navbar.Collapse id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {
          MAIN_MENU.map((item) =>
            item.children ? (
              <Navbar.Dropdown {...item} />
            ) : (
              <Navbar.Item {...item} />
            ),
          )
        }
      </ul>
    </Navbar.Collapse>
  </div>
</nav>
