---
const { variant, class: className, dismissable } = Astro.props;
export interface Props {
  variant: string;
  class?: string;
  dismissable?: boolean;
}
---

<div
  class:list={[
    'alert',
    `alert-${variant}`,
    'astro-bs',
    className,
    { 'alert-dismissible': dismissable },
  ]}
  role="alert"
>
  <div><slot /></div>
  {
    dismissable && (
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      />
    )
  }
</div>
<script>
  import Alert from 'bootstrap/js/dist/alert';
  const alertList = document.querySelectorAll('.alert.astro-bs')
  alertList.forEach(element => new Alert(element))
</script>
