---
const { text, h = 4, class: className } = Astro.props;
export interface Props {
  text?: string;
  h?: number;
  class?: string;
}
---

<div class:list={['alert-heading', `h-${h}`, className]}>
  <slot><Fragment set:html={text} /></slot>
</div>
