---
import { titleCase } from 'title-case';
const { href, class: className } = Astro.props;

// import type { HTMLAttributes } from 'astro/types';
// // or extend with an `interface`
// interface Props extends HTMLAttributes<'li'> {
//   ariaCurrent: 'page' | undefined;
//   active: boolean;
//   href: string;
//   text: string;
// }
const path = Astro.url.pathname;
const active = path === href;
const ariaCurrent = active && 'page';
const modHref = active ? null : href;
const slot = await Astro.slots.render('default');
---

<li
  class:list={['breadcrumb-item', className, { active }]}
  aria-current={ariaCurrent}
>
  {modHref ? <a href={modHref}>{titleCase(slot)}</a> : <>{titleCase(slot)}</>}
</li>
