---
const { class: className, active } = Astro.props;
export interface Props {
  class?: string;
  active?: boolean;
  children?: any;
}
const ariaCurrent = active ? 'page' : undefined;
---

<li
  class:list={['breadcrumb-item', className, { active }]}
  aria-current={ariaCurrent}
  >
  <slot />
</li>
