---
import BreadcrumbItemIterate from './BreadcrumbItemIterate.astro';

const {
  id,
  class: className,
  itemClass,
  'aria-label': ariaLabel = 'Breadcrumb',
} = Astro.props;
interface Props {
  id?: string;
  class?: string;
  itemClass?: string;
  'aria-label'?: string;
}
---

<nav aria-label={ariaLabel} {id}>
  <ol class="breadcrumb" class={className}>
    <slot>
      <BreadcrumbItemIterate class={itemClass} />
    </slot>
  </ol>
</nav>
