---
const {
  class: className,
  dropdown = false,
  variant,
  text,
  size,
  modalClose = false,
} = Astro.props;
export interface Props {
  class?: string;
  dropdown?: boolean;
  modalClose?: boolean;
  href?: string;
  variant: string;
  text?: string;
  size?: 'sm' | 'lg';
}
let props = {};
if (dropdown) {
  props = { 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false' };
} else if (modalClose) {
  props = { 'data-bs-dismiss': 'modal'};
}
---

<button
  class:list={[
    'btn',
    `btn-${variant}`,
    className,
    {
      'dropdown-toggle': dropdown,
      'btn-sm': size === 'sm',
      'btn-lg': size === 'lg',
    },
  ]}
  type="button"
  {...props}
>
  <slot>{text}</slot>
</button>
