---
const { id, class: className, dark, fade } = Astro.props;
export interface Props {
  id: string;
  class?: string;
  dark?: boolean;
  fade?: boolean;
}

---

<div
  {id}
  class:list={[
    'carousel',
    'slide',
    'astro-bs',
    className,
    { 'carousel-dark': dark, 'carousel-fade': fade },
  ]}
  data-bs-ride="carousel"
>
  <slot />
</div>
<script>
  import Carousel from 'bootstrap/js/dist/carousel';
  /* eslint-disable-next-line no-unused-vars */
  const carouselList = document.querySelectorAll('.astro-bs.carousel');
  carouselList.forEach((carousel) => new Carousel(carousel));
</script>
