---
const { text, class: className, nav = false } = Astro.props;

export interface Props {
  text?: string;
  class?: string;
  nav?: boolean;
}
---
<a
    class:list={['dropdown-toggle', className, {'nav-link': nav}]}
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <slot>{text}</slot>
  </a>
