---
const { controls } = Astro.props;
export interface Props {
  controls: string;
}
---

<button
  class="astro-bs navbar-toggler"
  type="button"
  aria-controls={controls}
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
