---
import Navbar from './Navbar';
import type { Props as NavbarDropdownLinkType } from './NavbarDropdownLink.astro';
const { title, subItems, class: className } = Astro.props;
export interface Child extends NavbarDropdownLinkType {
  divider?: boolean;
}
export interface Props {
  title: string;
  subItems: Child[];
  class?: string;
}
---

<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {title}
  </a>
  <ul class:list={['dropdown-menu', className ]}>
    {
      subItems.map((child) => (
        <li>
          {child.divider ? (
            <Navbar.DropdownDivider />
          ) : (
            <Navbar.DropdownLink {...child} />
          )}
        </li>
      ))
    }
  </ul>
</li>
<script>
  import 'bootstrap/js/dist/dropdown';
</script>
