---
const { href, title, class: className, anchorClass, ...props } = Astro.props;
import ActiveLink from '../utils/ActiveLink.astro';
export interface Props {
  href: string;
  title: string;
  class?: string;
  anchorClass?: string
  }
---

<li class:list={['nav-item', className]}>
  <ActiveLink href={href} class:list={['nav-link', anchorClass]} {...props}>
    <slot>{title}</slot>
  </ActiveLink>
</li>
