---
const { controls } = Astro.props;
export interface Props {
  controls: string;
}
---

<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target={`#${controls}`}
  aria-controls={controls}
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
