---

import Nav from './Nav';
const { class: className, href, disabled, text, linkClass, ...props } = Astro.props;
export interface Props {
  class?: string | string[];
  href?: string;
  disabled?: boolean;
  text?: string
  linkClass?: string;
}
---
<li class:list={['nav-item', className]}>
  <Nav.Link class={linkClass} disabled={disabled} href={href} {...props}><slot>{text}</slot></Nav.Link>
</li>
