---
const { disabled = false, class: className } = Astro.props;
export interface Props {
  class?: string;
  disabled?: boolean;
}
---

<li class:list={['page-item', className, { disabled }]}>
  <slot />
</li>
