---
const {
  index,
  class: className,
  active = false,
  fade = false,
  id,
} = Astro.props;

const show = fade && active;

export interface Props {
  id: string;
  class?: string;
  index: number;
  active?: boolean;
  fade?: boolean;
}
---

<div
  class:list={['tab-pane', className, { fade: fade, show: show, active }]}
  id={`${id}-tab-pane-${index}`}
  role="tabpanel"
  aria-labelledby={`${id}-tab-${index}`}
  tabindex="0"
>
  <slot />
</div>
