---
import { Nav } from 'astro-bootstrap';
import type { NavItemType } from 'astro-bootstrap';
const navs: NavItemType[] = [
  { href: '/', text: 'Home' },
  { href: '#', text: 'Link' },
  { href: '/components/navs', text: 'Active' },
  { href: '/hidden', text: 'Disabled', disabled: true },
];
export interface NavType {
  href: string;
  text: string;
  disabled?: boolean;
}
---

<Nav>
  {navs.map((nav) => <Nav.Item {...nav} />)}
</Nav>
