---
import { Breadcrumb } from 'astro-bootstrap';
---
<Breadcrumb>
  <Breadcrumb.Item><a href="/">Home</a></Breadcrumb.Item>
  <Breadcrumb.Item><a href="/components">Components</a></Breadcrumb.Item>
  <Breadcrumb.Item>Breadcrumb</Breadcrumb.Item>
</Breadcrumb>
