---
import BaseLayout from '../layouts/BaseLayout.astro';
const {cards} = Astro.props.frontmatter;
import HomeCard from '@components/HomeCard.astro';
import type {Props as CardData} from '@components/HomeCard.astro';
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-9 py-5 offset-md-2">
          <h1 class="py-3 text-gradient">Astro-Bootstrap</h1>
          <div class="lead fs-3 lh-lg">
            <slot />
          </div>
          <a
            role="button"
            href="/getting-started"
            class="btn btn-lg btn-primary m-1">Get Started</a
          >
          <a
            role="button"
            href="/components"
            class="btn btn-lg btn-secondary m-1">Components</a
          >
        </div>
      </div>
    </div>
    <div class="container-md">
      <div class="row row-cols-1 row-cols-sm-3">
        {
          cards.map((card: CardData) => (
            <div class="col">
              <HomeCard {...card} />
            </div>
          ))
        }
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
