---
const dropdowns: Dropdown[] = [
  {
    text: 'Action',
    href: '#',
  },
  {
    text: 'Another action',
    href: '#',
  },
  {
    text: 'Something else here',
    href: '#',
  },
];
export interface Dropdown {
  text: string;
  href: string;
}
---

<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    {
      dropdowns.map((dropdown) => (
        <li>
          <a class="dropdown-item" href={dropdown.href}>
            {dropdown.text}
          </a>
        </li>
      ))
    }
  </ul>
</div>
<script>
  import 'bootstrap/js/dist/dropdown';
</script>
