---
import { Modal } from 'astro-bootstrap';
const id = 'modalDemo';
---
<!-- Button to trigger -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDemo">
  Launch demo modal
</button>

<!-- Modal -->
<Modal id={id} fade>
  <Modal.Header parent={id}>Modal title</Modal.Header>
  <Modal.Body>Woo-hoo, you're reading this text in a modal!</Modal.Body>
  <Modal.Footer>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </Modal.Footer>
</Modal>
